/* start global rules */
* {
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --transition: 0.3s;
    --main-padding: 100px;
    --back-ground: #ececec
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
    text-transform: capitalize;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

}

.main-title {
    font-size: 30px;
    margin: 0px auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    width: fit-content;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: var(--transition);
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.main-title::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 60%;
        height: 100%;
    }
}

.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 60%;
        height: 100%;
    }
}


/* end global rules */
/* start header */
.header {
    box-shadow: 0 0 10px #ddd;
    position: relative;
    background-color: white;
}

.header .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.header .logo {
    color: var(--main-color);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;

}

.header .main-nav {
    display: flex;
}

.header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0px 30px;
    position: relative;
    height: 72px;
    transition: var(--transition);

    overflow: hidden;

}

.header .main-nav>li>a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: -100%;
    top: 0;
    background-color: var(--main-color);
    transition: var(--transition);
}

.header .main-nav>li>:hover {
    color: var(--main-color);
    background-color: #fafafa;

}

.header .main-nav>li>:hover::before {
    left: 0;

}

/* start landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing img {
        display: none;
    }
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h2 {
    font-size: 40px;
    letter-spacing: -.5px;
    padding: 0;
}

.landing .text p {
    font-size: 24px;
    line-height: 1.7;
    margin: 5 0 0;
    color: #666;
    max-width: 500px;
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }

}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt)
}

.landing .go-down i {
    animation: bouncing 1.5s infinite
}

@keyframes up-and-down {

    0%,
    100% {
        top: 0px;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    70% {
        transform: translateY(-10px);
    }
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    height: fit-content;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 2px solid var(--main-color);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    top: calc(100% + 50px);
    transition: top var(--transition), opacity var(--transition);
    z-index: -1;
    opacity: 0;
}

@media (max-width:767px) {
    .header .mega-menu {
        flex-direction: column;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width:991px) {
    .header .mega-menu .image img {
        display: none;
    }
}

.header .mega-menu ul {
    min-width: 250px;
    flex: 1;

}

.header .mega-menu li {
    border-bottom: 1px solid #ddd;
    position: relative;
}

.header .main-nav li:hover .mega-menu {
    z-index: 100;
    opacity: 1;
    top: 100%
}

.header .mega-menu li::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0px;
    background-color: #fafafa;
    left: 0;
    top: 0;
    z-index: -1;
    transition: var(--transition);
}

.header .mega-menu li:hover::before {
    width: 100%;

}


.header .mega-menu li a {
    color: var(--main-color);
    font-weight: bold;
    padding: 15px;
    color: var(--main-color);
    font-size: 18px;
    display: block;
}

.header .mega-menu li i {
    margin-right: 10px;
}

/* start articles */
.articles {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;

}

.articles .container .box {
    box-shadow: 0px 2px 15px lab(0 0 0 / 0.1);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--transition), box-shadow var(--transition);
}

.articles .container .box:hover {
    box-shadow: 0px 2px 15px lab(0 0 0 / 0.2);
    transform: translateY(-10px);
}

.articles .container .box img {
    max-width: 100%;
}

.articles .container .box .content {
    margin-left: 15px;
    border-bottom: 1px solid #ddd;
}

.articles .container .box p {
    color: #777;
}

.articles .container .box .info {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 20px 15px;
    color: var(--main-color);
    font-weight: bold;
}

.articles .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .box:hover .info i {
    animation: go-right .6s linear infinite;
}

@keyframes go-right {
    100% {
        transform: translateX(10px);
    }
}

/* end articles */
/* start gallery */
.gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--back-ground);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .container .box {
    background-color: white;
    padding: 15px;
    box-shadow: 0px 2px 15px lab(0 0 0 / 12%), 0px 2px 15px lab(0 0 0 / 13%);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    width: 0px;
    height: 0px;
    opacity: 0;
    z-index: 2;

}

.gallery .box .image:hover::before {
    animation: flashing 0.7s;

}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .box img {
    max-width: 100%;
    transition: var(--transition);
}

.gallery .box img:hover {
    transform: rotate(5deg) scale(1.1);
}

/* end gallery */
/* start features */
.features {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: white;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}

.features .container img {
    max-width: 100%;

}

.features .container .image-holder {
    position: relative;
    overflow: hidden;

}

.features .container .image-holder::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.features .container .image-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 150px 500px;
    transition: var(--transition);

}

.features .box:hover .image-holder::after {
    border-color: transparent transparent white transparent;
    border-width: 0px 500px 150px 0px;
    left: 0;

}

.features .container .box {
    text-align: center;
    border: 1px solid #ccc;

}

.features .container h2 {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;

}

.features .container h2::before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    /* background-color: red; */
    left: 15px;
    bottom: -20px;
}

.features .container p {
    margin: 30px 0;
    color: #777;
    line-height: 1.6;
    padding: 20px;
}


.features .container a {
    display: block;
    width: fit-content;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto 30px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--transition);
}

.features .container a:hover {
    background-position: left bottom;
    color: white;
}

.features .quality h2::before {
    background-color: #f44036;
}

.features .quality a {
    color: #f44036;
    border: 2px solid #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-position: right bottom;
    background-size: 200% 100%;

}

.features .quality .image-holder::before {
    background-color: #f43f3667;

}


.features .time h2::before {
    background-color: #009688;
}

.features .time a {
    color: #009688;
    border: 2px solid #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-position: right bottom;
    background-size: 200% 100%;
}

.features .time .image-holder::before {
    background-color: #00968768;

}

.features .passion h2::before {
    background-color: #03a9f4;
}

.features .passion a {
    color: #03a9f4;
    border: 2px solid #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-position: right bottom;
    background-size: 200% 100%;
}

.features .passion .image-holder::before {
    background-color: #03a8f471;

}

/* end features */
/* start testimonial */
.testimonials {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--back-ground);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}

.testimonials .container .test-box {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 6px;
}

.container .test-box img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right: -5px;
    top: -50px;
    border: 10px solid var(--back-ground);
}

.container .test-box h3 {
    margin: 0 0 10px;
}

.container .test-box .title {
    margin-bottom: 10px;
    color: #777;
    display: block;
}

.container .test-box .filled {

    color: #ffc10f;

}

.container .test-box p {
    line-height: 1.5;
    color: #777;
    margin-bottom: 0;
}

/* start team members */
.team-members {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}

.team-members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}

.team-members .box {
    position: relative;
}

.team-members .box::before,
.team-members .box::after {
    content: "";
    position: absolute;
    background-color: var(--back-ground);
    border-radius: 10px;
    top: 0px;
    right: 0px;
    width: calc(100% - 60px);
    height: 100%;
    z-index: -2;
}

.team-members .box::before,
.team-members .box::after {
    content: "";
    position: absolute;
    background-color: var(--back-ground);
    border-radius: 10px;
    top: 0px;
    right: 0px;
    height: 100%;
    transition: var(--transition);
}

.team-members .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team-members .box::after {
    width: 0;
    z-index: -1;
    background-color: #e4e4e4;
}

.team-members .box:hover::after {
    width: calc(100% - 60px);
}

.team-members .box .data {
    padding-top: 60px;
    display: flex;
    align-items: center;
}

.team-members .box .social {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.team-members .box .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
}

.team-members .box .social i {
    color: #777;
    transition: var(--transition);
}

.team-members .box .social i:hover {
    color: var(--main-color)
}

.team-members .box img {
    max-width: calc(100% - 60px);
    transition: var(--transition);
    border-radius: 10px;
}

.team-members .box:hover img {
    filter: grayscale(100%);
}

.team-members .box .text {
    margin-left: 70px;
}

.team-members .box h3 {
    color: var(--main-color);
    transition: var(--transition);
}

.team-members .box:hover h3 {
    color: #777;
}

/* start services  */
.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--back-ground);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}

.services .container .box {
    background-color: white;
    box-shadow: 0px 2px 15px lab(0 0 0 / 0.1), 0px 2px 15px lab(0 0 0 / 0.2);
    counter-increment: services;
    transition: var(--transition);
    position: relative;
}

.services .container .box::before {
    content: "";
    position: absolute;
    height: 3px;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    width: 0px;
    transition: var(--transition);
}

.services .container .box:hover {
    transform: translateY(-10px);
}

.services .container .box:hover::before {
    width: 100%
}

.services .box>i {
    margin: 30px auto 20px;
    color: #d5d5d5;
    text-align: center;
    display: block;
}

.services .box>h3 {
    font-size: 25px;
    color: var(--main-color);
    text-align: center;
    margin: 20px auto 40px;
}

.services .box .info {
    position: relative;
    padding: 15px;
    background-color: #f9f9f9;
    text-align: right;
}

.services .box .info a {
    color: var(--main-color);
}

.services .box .info::before {
    content: "0" counter(services);
    color: white;
    background-color: var(--main-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    height: 100%;
    width: 80px;
    left: 0;
    top: 0;
    padding-right: 20px;
}

.services .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    height: 100%;
    width: 50px;
    left: 80px;
    top: 0;
    transform: skew(-30deg);
}

.skills {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;

}

.skills .container {
    display: flex;
    align-items: center;
}

.skills .content {
    flex: 1;
}

@media (max-width:991px) {
    .skills img {
        display: none;
    }
}

.skills .content .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .content .skill h3 span {
    color: var(--main-color);
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    font-size: 12px;
    padding: 3px 5px;
}

.skills .content .skill .the-progress {
    position: relative;
    height: 30px;
    background-color: #eee;
}

.skills .content .skill .the-progress span {
    position: absolute;
    height: 30px;
    background-color: var(--main-color);
}

/* start how-it-works */

.how-it-works {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--back-ground);
}

.how-it-works .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.how-it-works .container .image {
    max-width: 100%;
    margin-right: 100px;
}

.how-it-works .container .content {}

.how-it-works .container .content .info {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
    position: relative;
    z-index: 1;
}

.how-it-works .container .content .info::before {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 0;
    height: 0;
    background-color: #ededed;
    z-index: -1;
    transition: var(--transition);
}

.how-it-works .container .content .info:hover::before {
    width: 100%;
    height: 100%;
}

.how-it-works .info img {
    width: 64px;
    margin-right: 30px;
}

.how-it-works .container .content .info h3 {
    margin: 0;
}

.how-it-works .container .content .info p {
    line-height: 1.6;
    color: #777;
}

@media (max-width:991px) {
    .how-it-works .image {
        display: none;
    }
}

/* start events */
.events {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;

}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events .container .image {
    max-width: 450px;
}

@media (max-width:991px) {
    .events .container .image {
        display: none;
    }
}

.events .container .info {
    flex: 1;
}

.events .container .time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

.events .container .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    width: 75px;
    text-align: center;
    transition: var(--transition);
}

.events .container .unit span {
    display: block;
}

.events .container .unit span:first-child {
    font-size: 35px;
    color: var(--main-color);
    padding: 15px;
    font-weight: bold;
}

.events .container .unit span:last-child {
    padding: 8px 10px;
    font-size: 12px;
    border-top: 1px solid #d4d4d4;
}

.events .container .info .title {
    font-size: 30px;
    text-align: center;
    margin: 40px 0px 0px;
}

.events .container .info p {
    color: #777;
    text-align: center;
    line-height: 1.7;


}

.events .container .subscribe {
    width: 100%;

}

.events form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f5f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width:767px) {
    .events form {
        max-width: 100%;
        flex-direction: column;
        padding: 20px;
        border-radius: 0%;
    }
}

.events form input[type=email] {
    padding: 20px;
    caret-color: var(--main-color);
    flex: 1;
    border-radius: 50px;
    border: none;
    transition: var(--transition);
}

.events form input[type=email]:focus {
    outline: none;
}

.events form input[type=email]:focus::placeholder {
    opacity: 0;
}

.events .container form input[type=submit] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: var(--main-color);
    transition: var(--transition);
}

.events form input[type=submit]:hover {
    background-color: var(--main-color-alt);
}

/* start pricing plans */

.pricing {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--back-ground);

}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    ;
}

.pricing .container .box {
    background-color: white;
    position: relative;
    box-shadow: 0px 2px 15px lab(0 0 0 / 0.1), 0px 2px 15px lab(0 0 0 / 0.2);
    transition: var(--transition);
    text-align: center;
    z-index: 1;
}

@media (min-width:1199px) {
    .pricing .container .med {
        margin-top: -20px;
    }
}

.pricing .container .box::before,
.pricing .container .box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--transition);
}

.pricing .container .box::before {
    content: "";
    left: 0;
    top: 0;

}

.pricing .container .box::after {
    content: "";
    right: 0;
    bottom: 0;

}

.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
    width: 100%;
}

.pricing .container .box h2 {
    font-size: 25px;
    margin: 30 0;
}

.pricing .container .box img {
    width: 80px;
    margin-bottom: 30px;
}

.pricing .container .box .price {

    margin-bottom: 20px;
}

.pricing .box .price span:first-child {
    display: block;
    margin-bottom: 5px;
    color: var(--main-color);
    font-size: 60px;
    font-weight: bold;
}

.pricing .box .price span:last-child {
    color: #777;

}

.pricing .container .box ul {
    text-align: left;

}

.pricing .container .box li {

    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .container .box li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
}

.pricing .container .box a {
    display: block;
    border-radius: 6px;
    border: 2px solid var(--main-color);
    width: fit-content;
    margin: 30px auto 40px;
    padding: 15px 20px;
    color: var(--main-color);
    transition: var(--transition);
    font-weight: bold;
}

.pricing .container .box a:hover {
    border: none;
    background-color: var(--main-color);
    color: white;
}

/* start videos */
.videos {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;


}

.videos .container {
    display: flex;
    justify-content: center;
    background-color: var(--back-ground);
    border: 1px solid #ddd;
    padding: 0;
}

@media (max-width:991px) {
    .videos .container {
        flex-direction: column;
    }
}

.videos .container img {
    max-width: 100%;

}

.videos .container .video-list {
    min-width: 300px;
}

.videos .container .video-list .title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.videos .container .video-list .title h3 {
    margin: 0;
}

.videos .container .video-list li {
    padding: 20px;
    border-top: 1px solid #d5d5d5;
    background-color: white;
    transition: var(--transition);
}

.videos .container .video-list li:hover {
    background-color: #f7f5f5;
}

.videos .container .video-list li:hover a {
    color: var(--main-color);
}

.videos .container .video-list li span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.videos .container .video {
    background-color: var(--back-ground);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.videos .container .video img {
    max-width: 100%;
}

.videos .container .video p {
    background-color: white;
    padding: 20px;
}

/* start awesome */
.awesome {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../images/stats.jpg);
    background-size: cover;
    position: relative;
    min-height: 300px;

}

.awesome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);


}

.awesome h2 {
    position: relative;
    text-align: center;
    font-size: 40px;
}

.awesome .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.awesome .box {
    background-color: white;
    width: 250px;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.awesome .container .box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2px;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: var(--transition);

}

.awesome .container .box::after {
    content: "";
    position: absolute;
    top: 0;
    right: -2px;
    width: 2px;
    height: 0px;
    background-color: var(--main-color);
    transition: var(--transition);
}


.awesome .box:hover::before,
.awesome .box:hover::after {
    height: 100%;
}


.awesome .container .box i {
    margin-top: 20px;
    margin-bottom: 10px;
}

.awesome .container .box h3 {
    font-size: 40px;
    margin: 0px;
}

.awesome .container .box span {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* start discounts */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .image {
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

@media (max-width: 991px) {
    .discount .image {
        flex-basis: 100%;
    }
}

@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}

.discount .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
}

.discount .image h2 {
    font-size: 40px;
    font-weight: bold;
    position: relative;
}

.discount .image p {
    line-height: 2;
    position: relative;
    max-width: 500px;
}

.discount .image img {
    width: 300px;
    position: relative;
    max-width: 100%;

}

.discount .form {

    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    /* z-index: 1; */
    flex-direction: column;

}

.discount .form h2 {
    font-size: 40px;
    font-weight: bold;
    position: relative;


}

.discount form input {
    display: block;
    padding: 20px;
    width: 100%;
    background-color: var(--back-ground);
    border: none;
    margin-bottom: 25px;
}

.discount form input,
.discount form textarea {
    display: block;
    padding: 20px;
    width: 300px;
    background-color: var(--back-ground);
    border: none;
    margin-bottom: 20px;
    background-color: var(--back-ground);
    border: none
}

.discount form textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

.discount form input[type=submit] {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}